Makefile
Makefile.in
stamp-h
stamp-h1
stamp-h.in
confdefs.h
configure.lineno
configure.scan
compile
mkinstalldirs
install-sh
aclocal.m4
libtool
ltconfig
ltmain.sh
autom4te.cache
autoscan.log
ylwrap
test-driver
*.rpm
*.deb
*.dsc
*.changes
*.tar.gz
*.diff.gz
*~
*.o
